/packages/amesos/            @trilinos/amesos/developers
/packages/amesos2/           @trilinos/amesos2/developers
/packages/anasazi/           @trilinos/anasazi/developers
/packages/aztecoo/           @trilinos/aztecoo/developers
/packages/belos/             @trilinos/belos/developers
/packages/claps/             @trilinos/claps/developers
/packages/domi/              @trilinos/domi/developers
/packages/epetra/            @trilinos/epetra/developers
/packages/epetraext/         @trilinos/epetraext/developers
/packages/fei/               @trilinos/fei/developers
#/packages/galeri/            @trilinos/
/packages/ifpack/            @trilinos/ifpack/developers
/packages/ifpack2/           @trilinos/ifpack2/developers
/packages/intrepid/          @trilinos/intrepid/developers
/packages/intrepid2/         @trilinos/intrepid2/developers
/packages/isorropia/         @trilinos/isorropia/developers
/packages/kokkos/            @trilinos/kokkos/developers
/packages/kokkos-kernels/    @trilinos/kokkos-kernels/developers
/packages/komplex/           @trilinos/komplex/developers
#/packages/minitensor/        @trilinos/
/packages/ml/                @trilinos/ml/developers
/packages/moertel/           @trilinos/moertel/developers
/packages/muelu/             @trilinos/muelu/developers
/packages/new_package/       @trilinos/new_package/developers
/packages/nox/               @trilinos/nox/developers
/packages/pamgen/            @trilinos/pamgen/developers
/packages/panzer/            @trilinos/panzer/developers
#/packages/percept/           @trilinos/
/packages/phalanx/           @trilinos/phalanx/developers
#/packages/pike/              @trilinos/
/packages/piro/              @trilinos/piro/developers
/packages/pliris/            @trilinos/pliris/developers
/packages/PyTrilinos/        @trilinos/pytrilinos/developers
/packages/rol/               @trilinos/rol/developers
/packages/rtop/              @trilinos/rtop/developers
/packages/rythmos/           @trilinos/rythmos/developers
/packages/sacado/            @trilinos/sacado/developers
/packages/seacas/            @trilinos/seacas/developers
/packages/shards/            @trilinos/shards/developers
/packages/shylu/             @trilinos/shylu/developers
/packages/stk/               @trilinos/stk/developers
/packages/stokhos/           @trilinos/stokhos/developers
/packages/stratimikos/       @trilinos/stratimikos/developers
/packages/teko/              @trilinos/teko/developers
/packages/tempus/            @trilinos/tempus/developers
/packages/teuchos/           @trilinos/teuchos/developers
/packages/thyra/             @trilinos/thyra/developers
/packages/tpetra/            @trilinos/tpetra/developers
/packages/TriKota/           @trilinos/trikota/developers
#/packages/trilinoscouplings/ @trilinos/
/packages/triutils/          @trilinos/triutils/developers
/packages/xpetra/            @trilinos/xpetra/developers
/packages/zoltan/            @trilinos/zoltan/developers
/packages/zoltan2/           @trilinos/zoltan2/developers
