Roscoe A. Bartlett <bartlettra@ornl.gov>
Roscoe A. Bartlett <bartlettra@ornl.gov> <rabartl@sandia.gov>
Roscoe A. Bartlett <bartlettra@ornl.gov> <bartlettra.gov>
Christopher G. Baker <bakercg@ornl.gov>
Christopher G. Baker <bakercg@ornl.gov> Chris Baker <bakercg@ornl.gov>
Christopher G. Baker <bakercg@ornl.gov> Baker Christopher G <ogb@billmp1.ornl.gov> 
Christopher G. Baker <bakercg@ornl.gov> Christopher G. Baker <ogb@orthanc.ornl.gov> 
Erik G. Boman <egboman@sandia.gov> 
Erik G. Boman <egboman@sandia.gov> Erik Boman <egboman@sandia.gov>
Erik G. Boman <egboman@sandia.gov> Erik Boman <ejboman@sandia.gov> 
Eric C. Cyr <eccyr@sandia.gov>
Eric C. Cyr <eccyr@sandia.gov> Eric Cyr <eccyr@sandia.gov>
Karen D. Devine <kddevin@sandia.gov> 
Karen D. Devine <kddevin@sandia.gov> K Devine <kddevin@sandia.gov>
Karen D. Devine <kddevin@sandia.gov> K. Devine <kddevin@sandia.gov>
Karen D. Devine <kddevin@sandia.gov> Karen Devine <kddevin@sandia.gov>
H. Carter Edwards <hcedwar@sandia.gov> 
H. Carter Edwards <hcedwar@sandia.gov> Carter Edwards <hcedwar@sandia.gov>  
Jeremie Gaidamour <jngaida@sandia.gov> 
Jeremie Gaidamour <jngaida@host56.snlca-visitor.net> Jeremie Gaidamour <jngaida@sandia.gov>
H. Carter Edwards <hMichael A. Heroux <maherou@sandia.gov>
Michael A. Heroux <maherou@sandia.gov> Mike Heroux <maherou@sandia.gov> 
Michael A. Heroux <maherou@sandia.gov> Mike Heroux <maherou@gmail.com>
Michael A. Heroux <maherou@sandia.gov> Michael Heroux <maherou@Mikes-Mac-17-inch.local> 
Stephen Kennon <srkenno@sandia.gov> 
Stephen Kennon <srkenno@sandia.gov> Steve Kennon <srkenno@sandia.gov> 
Jason A. Kraftcheck <kraftche@cae.wisc.edu> 
Jason A. Kraftcheck <kraftche@cae.wisc.edu> Jason Kraftcheck <kraftche@cae.wisc.edu>
Jason A. Kraftcheck <kraftche@cae.wisc.edu> Jason Kraftcheck <jason@hex.ep.wisc.edu> 
Kevin R. Long <kevin.long@ttu.edu> 
Kevin R. Long <kevin.long@ttu.edu> Kevin Long <kevin.long@ttu.edu>
Kevin R. Long <kevin.long@ttu.edu> Kevin Long <kevin@feynman.math.ttu.edu>
Kevin R. Long <kevin.long@ttu.edu> Kevin Long <kevin@feynman.site>
Kevin R. Long <kevin.long@ttu.edu> Kevin Long <kevin@landau.math.ttu.edu> 
Kurts L. Nusbaum <klnusbaum@gmail.com> 
Kurts L. Nusbaum <klnusbaum@gmail.com> Kurtis L. Nusbaum <klnusbaum@csbsju.edu> 
Kurts L. Nusbaum <klnusbaum@gmail.com> Kurtis Nusbaum <klnusbaum@gmail.com> 
Kurts L. Nusbaum <klnusbaum@gmail.com> Kurtis Nusbaum <kurtis@Kurtis-Nusbaums-MacBook-Pro.local> 
Kurts L. Nusbaum <klnusbaum@gmail.com> Kurts Nusbaum <klnusbaum@gmail.com>
Roger P. Pawlowski <rppawlo@sandia.gov> 
Roger P. Pawlowski <rppawlo@sandia.gov> Roger Pawlowski <rppawlo@sandia.gov> 
Roger P. Pawlowski <rppawlo@sandia.gov> Roger P Pawlowski <rppawlo@sandia.gov>
Roger P. Pawlowski <rppawlo@sandia.gov> Roger P. Pawlowski <p8d@u233.ornl.gov> 
Brent M. Perschbacher <bmpersc@sandia.gov> 
Brent M. Perschbacher <bmpersc@sandia.gov> Brent Perschbacher <bmpersc@sandia.gov> 
Michael N. Phenow <mnphenow> 
Michael N. Phenow <mnphenow> Michael N. Phenow <mnpheno> 
Eric T. Phipps <etphipp@sandia.gov> 
Eric T. Phipps <etphipp@sandia.gov> Eric Phipps <etphipp@sandia.gov>  
Andrew G. Salinger <agsalin@sandia.gov> 
Andrew G. Salinger <agsalin@sandia.gov> Andy Salinger <agsalin@sandia.gov>
Lee Ann Riesen <lriesen@sandia.gov>
Lee Ann Riesen <lriesen@sandia.gov> Lee Ann Riesen <lafisk@sandia.gov>
Christopher Siefert <csiefer@sandia.gov> 
Christopher Siefert <csiefer@sandia.gov> Chris Siefert <csiefer@sandia.gov>
Christopher Siefert <csiefer@sandia.gov> Chris 'Stuck in New York' Siefert <csiefer@sandia.gov> 
William F. Spotz <wfspotz@sandia.gov> 
William F. Spotz <wfspotz@sandia.gov> Bill Spotz <wfspotz@sandia.gov>
Heidi K. Thornquist <hkthorn@sandia.gov>
Heidi K. Thornquist <hkthorn@sandia.gov> Heidi Thornquist <hkthorn@sandia.gov> 
Raymond Tuminaro <rstumin@sandia.gov> 
Raymond Tuminaro <rstumin@sandia.gov> Ray Tuminaro <rstumin@sandia.gov> 
Tobias Wiesner <wiesner> 
Tobias Wiesner <wiesner> Tobias Wiesner <wiesner@lnm.mw.tum.de>
Tobias Wiesner <wiesner> Tobias Wiesner <wiesner@poincare.lnm.mw.tum.de> 
Tobias Wiesner <wiesner> Tobias Wiesner <wiesner@descartes.lnm.mw.tum.de> 
James M. Willenbring <jmwille@sandia.gov>
James M. Willenbring <jmwille@sandia.gov> James Willenbring <jmwille@sandia.gov>
Alan B. Williams <william@sandia.gov> 
Alan B. Williams <william@sandia.gov> Alan Williams <william@sandia.gov> 