SHELL=/bin/bash
# * * * * *  command to execute
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ └───── day of week (0 - 6) (0 to 6 are Sunday to Saturday, or use names; 7 is Sunday, the same as 0)
# │ │ │ └────────── month (1 - 12)
# │ │ └─────────────── day of month (1 - 31)
# │ └──────────────────── hour (0 - 23)
# └───────────────────────── min (0 - 59)

# MIN HOUR DAY MONTH

# nightly tests

0  22 * * * cd /home/nightlyTesting/trilinos/cmake/ctest/drivers/rocketman; eval `python ./setSshEnv.py`; cd /home/nightlyTesting/trilinos; git pull > /dev/null 2>&1; cd /home/nightlyTesting/trilinos/cmake/ctest/drivers/rocketman; ./cron_driver.sh &> /home/nightlyTesting/cron_driver.log; cd /home/nightlyTesting; /home/nightlyTesting/trilinos/cmake/ctest/drivers/rocketman/sendTestSummary.sh cron_driver.log 

#
@reboot /home/jhu/bin/send-reboot-email.sh


#description of fields
#minute This controls what minute of the hour the command will run on,
#         and is between '0' and '59'
#hour   This controls what hour the command will run on, and is specified in
#         the 24 hour clock, values must be between 0 and 23 (0 is midnight)
#dom    This is the Day of Month, that you want the command run on, e.g. to
#         run a command on the 19th of each month, the dom would be 19.
#month  This is the month a specified command will run on, it may be specified
#         numerically (0-12), or as the name of the month (e.g. May)
#dow    This is the Day of Week that you want a command to be run on, it can
#         also be numeric (0-7) or as the name of the day (e.g. sun).
