.formTable { width: auto; height: auto; margin: 0px; padding: 0px; }
.formTable td { margin: 0px; padding: 5px; font-size: 9pt; }

.errorBox { background-color: #fdd; border: 1px solid #666; padding: 10px; 
  margin: 0px 0px 10px 0px; }

.button { margin: 20px; text-align: center; display: block; }
.button a { font-size: 12pt; padding: .2em 3em; background-color: #eef;
  border: 1px solid #666; }
.button a:visited { background-color: #eef; }
.button a:hover { text-decoration: none; background-color: #ccf; }

.outputBox { background-color: #f7f7f7; border: 1px solid #666; padding: 10px; 
  margin: 20px 0 0 0; font-family: courier, monospaced, sans-serif; }