name: AT2-EXPERIMENTAL

on:
  pull_request:
    types:
      - opened
      - synchronize
  pull_request_review:
    types: 
      - submitted
    branches:
    - master
    - develop
  workflow_dispatch:

# actions: write needed by skip-duplicate-actions
permissions:
  actions: write
  contents: read

jobs:
  # Jobs depend on the output of pre-checks to run
  pre-checks:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
        - id: skip_check
          uses: fkirc/skip-duplicate-actions@v5
          with:
            skip_after_successful_duplicate: 'true'

  gcc10-openmpi416-EXPERIMENTAL:
    needs: pre-checks
    runs-on: [self-hosted, gcc-10.3.0_openmpi-4.1.6]
    if: ${{ needs.pre-checks.outputs.should_skip != 'true' && (github.event.action == 'synchronize' || github.event.action == 'opened' || github.event.review.state == 'APPROVED') }}
    steps:
      - name: env
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          env
      - name: module list
        shell: bash
        run: |
          bash -l -c "module list"
          printenv PATH
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token: ${{ github.token }}
      - name: make dirs
        working-directory: /
        run: |
          mkdir -p /home/Trilinos/src/Trilinos
          mkdir -p /home/Trilinos/build
      - name: Clone trilinos
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Repo status
        run: |
          git fetch --all
          pwd
          ls -lhat
          git status
          git branch -vv
          git branch -a
      - name: get dependencies
        working-directory: ./packages/framework
        run: |
          bash -l -c "./get_dependencies.sh --container"
      - name: PullRequestLinuxDriverTest.py
        shell: bash -l {0}
        working-directory: /home/Trilinos/build
        run: |
          # Set up python-is-python3 hackery
          mkdir bin
          pushd bin
          ln -s $(type -p python3) python
          export PATH=$(pwd):${PATH}
          popd

          export TRILINOS_DIR=${GITHUB_WORKSPACE:?}
          export PYTHONPATH=${PYTHONPATH}:${GITHUB_WORKSPACE}/packages/framework/GenConfig
          export PYTHONPATH=${PYTHONPATH}:${GITHUB_WORKSPACE}/packages/framework/pr_tools

          printf "\n\n\n"

          echo "image: ${AT2_IMAGE:-unknown}"

          python3 ${GITHUB_WORKSPACE}/packages/framework/pr_tools/PullRequestLinuxDriverTest.py \
            --target-branch-name ${{ github.event.pull_request.base.ref }} \
            --genconfig-build-name rhel8_gcc-openmpi_debug_shared_no-kokkos-arch_no-asan_complex_no-fpic_mpi_no-pt_no-rdc_no-uvm_deprecated-on_no-package-enables \
            --pullrequest-number ${{ github.event.pull_request.number }} \
            --pullrequest-env-config-file ${GITHUB_WORKSPACE}/packages/framework/pr_tools/trilinos_pr.ini \
            --pullrequest-gen-config-file ${GITHUB_WORKSPACE}/packages/framework/GenConfig/src/gen-config.ini \
            --workspace-dir /home/runner/_work/Trilinos \
            --source-dir ${GITHUB_WORKSPACE} \
            --build-dir /home/Trilinos/build \
            --dashboard-build-name `cat /etc/hostname` \
            --ctest-driver /home/runner/_work/Trilinos/Trilinos/cmake/SimpleTesting/cmake/ctest-driver.cmake \
            --ctest-drop-site sems-cdash-son.sandia.gov/cdash \
            --filename-subprojects ./package_subproject_list.cmake \
            --filename-packageenables ./packageEnables.cmake

  gcc830-serial-EXPERIMENTAL:
    needs: pre-checks
    runs-on: [self-hosted, gcc-8.3.0_serial]
    if: ${{ needs.pre-checks.outputs.should_skip != 'true' && (github.event.action == 'synchronize' || github.event.action == 'opened' || github.event.review.state == 'APPROVED') }}
    steps:
      - name: env
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          env
      - name: module list
        shell: bash
        run: |
          bash -l -c "module list"
          printenv PATH
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token: ${{ github.token }}
      - name: make dirs
        working-directory: /
        run: |
          mkdir -p /home/Trilinos/src/Trilinos
          mkdir -p /home/Trilinos/build
      - name: Clone trilinos
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Repo status
        run: |
          git fetch --all
          pwd
          ls -lhat
          git status
          git branch -vv
          git branch -a
      - name: get dependencies
        working-directory: ./packages/framework
        run: |
          bash -l -c "./get_dependencies.sh --container"
      - name: PullRequestLinuxDriverTest.py
        shell: bash -l {0}
        working-directory: /home/Trilinos/build
        run: |
          # Set up python-is-python3 hackery
          mkdir bin
          pushd bin
          ln -s $(type -p python3) python
          export PATH=$(pwd):${PATH}
          popd

          export TRILINOS_DIR=${GITHUB_WORKSPACE:?}
          export PYTHONPATH=${PYTHONPATH}:${GITHUB_WORKSPACE}/packages/framework/GenConfig
          export PYTHONPATH=${PYTHONPATH}:${GITHUB_WORKSPACE}/packages/framework/pr_tools

          printf "\n\n\n"

          echo "image: ${AT2_IMAGE:-unknown}"

          python3 ${GITHUB_WORKSPACE}/packages/framework/pr_tools/PullRequestLinuxDriverTest.py \
            --target-branch-name ${{ github.event.pull_request.base.ref }} \
            --genconfig-build-name rhel8_gcc-serial_release-debug_shared_no-kokkos-arch_no-asan_no-complex_no-fpic_no-mpi_no-pt_no-rdc_no-uvm_deprecated-on_no-package-enables \
            --pullrequest-number ${{ github.event.pull_request.number }} \
            --pullrequest-env-config-file ${GITHUB_WORKSPACE}/packages/framework/pr_tools/trilinos_pr.ini \
            --pullrequest-gen-config-file ${GITHUB_WORKSPACE}/packages/framework/GenConfig/src/gen-config.ini \
            --workspace-dir /home/runner/_work/Trilinos \
            --source-dir ${GITHUB_WORKSPACE} \
            --build-dir /home/Trilinos/build \
            --dashboard-build-name `cat /etc/hostname` \
            --ctest-driver /home/runner/_work/Trilinos/Trilinos/cmake/SimpleTesting/cmake/ctest-driver.cmake \
            --ctest-drop-site sems-cdash-son.sandia.gov/cdash \
            --filename-subprojects ./package_subproject_list.cmake \
            --filename-packageenables ./packageEnables.cmake

  cuda11-uvm-EXPERIMENTAL:
    needs: pre-checks
    runs-on: [self-hosted, cuda-11.4.2_gcc-10.3.0_openmpi-4.1.6]
    if: ${{ needs.pre-checks.outputs.should_skip != 'true' && (github.event.action == 'synchronize' || github.event.action == 'opened' || github.event.review.state == 'APPROVED') }}
    steps:
      - name: env
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          env
      - name: module list
        shell: bash
        run: |
          bash -l -c "module list"
          printenv PATH
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
        with:
          access_token: ${{ github.token }}
      - name: make dirs
        working-directory: /
        run: |
          mkdir -p /home/Trilinos/src/Trilinos
          mkdir -p /home/Trilinos/build
      - name: Clone trilinos
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Repo status
        run: |
          git fetch --all
          pwd
          ls -lhat
          git status
          git branch -vv
          git branch -a
      - name: get dependencies
        working-directory: ./packages/framework
        run: |
          bash -l -c "./get_dependencies.sh --container"
      - name: PullRequestLinuxDriverTest.py
        shell: bash -l {0}
        working-directory: /home/Trilinos/build
        run: |
          mkdir bin
          pushd bin
          ln -s $(type -p python3) python
          export PATH=$(pwd):${PATH}
          popd

          export TRILINOS_DIR=${GITHUB_WORKSPACE:?}
          export PYTHONPATH=${PYTHONPATH}:${GITHUB_WORKSPACE}/packages/framework/GenConfig
          export PYTHONPATH=${PYTHONPATH}:${GITHUB_WORKSPACE}/packages/framework/pr_tools

          printf "\n\n\n"

          echo "image: ${AT2_IMAGE:-unknown}"
          type python
          python3 ${GITHUB_WORKSPACE}/packages/framework/pr_tools/PullRequestLinuxDriverTest.py \
            --target-branch-name ${{ github.event.pull_request.base.ref }} \
            --genconfig-build-name rhel8_cuda-gcc-openmpi_release_static_Ampere80_no-asan_complex_no-fpic_mpi_pt_no-rdc_uvm_deprecated-on_no-package-enables \
            --pullrequest-number ${{ github.event.pull_request.number }} \
            --pullrequest-env-config-file ${GITHUB_WORKSPACE}/packages/framework/pr_tools/trilinos_pr.ini \
            --pullrequest-gen-config-file ${GITHUB_WORKSPACE}/packages/framework/GenConfig/src/gen-config.ini \
            --workspace-dir /home/runner/_work/Trilinos \
            --source-dir ${GITHUB_WORKSPACE} \
            --build-dir /home/Trilinos/build \
            --dashboard-build-name `cat /etc/hostname` \
            --ctest-driver /home/runner/_work/Trilinos/Trilinos/cmake/SimpleTesting/cmake/ctest-driver.cmake \
            --ctest-drop-site sems-cdash-son.sandia.gov/cdash \
            --filename-subprojects ./package_subproject_list.cmake \
            --filename-packageenables ./packageEnables.cmake \
            --max-cores-allowed=96 \
            --num-concurrent-tests=96
