name: Check MPI_COMM_WORLD

on:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0

    - name: Search for MPI_COMM_WORLD in modified lines
      run: |
        python $GITHUB_WORKSPACE/commonTools/test/utilities/check-mpi-comm-world-usage.py \
        --base origin/${{ github.event.pull_request.base.ref }} \
        --head ${{ github.event.pull_request.head.sha }}
