name: spack
on:
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

# Cancels any in progress 'workflow' associated with this PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  develop-gcc-openmpi:
    permissions:
      contents: read  # for actions/checkout to fetch code
    runs-on: [self-hosted, gcc-12.3.0-openmpi-4.1.6]
    steps:
      - name: Clone Trilinos
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
      - name: Spack build
        shell: bash -l {0}
        run: |
          cd /home/runner/spack
          git checkout develop && git pull --quiet
          echo -n "Spack version is: "
          git rev-parse HEAD
          spack repo update
          spack reindex
          spack develop --no-clone --path $GITHUB_WORKSPACE trilinos@develop
          spack add trilinos@develop
          spack concretize -f
          spack install --cdash-upload-url=https://sems-cdash-son.sandia.gov/cdash/submit.php?project=Trilinos --cdash-track='Pull Request' --cdash-build='PR-${{ github.event.pull_request.number }}-spack' -j16 trilinos
