name: spack
on:
  pull_request:
    types:
      - opened
      - synchronize
  pull_request_review:
    types: 
      - submitted
  workflow_dispatch:

permissions:
  contents: read

jobs:
  gcc10-openmpi416:
    permissions:
      actions: write  # for styfle/cancel-workflow-action to cancel/stop running workflows
      contents: read  # for actions/checkout to fetch code
    runs-on: [self-hosted, gcc-10.3.0_openmpi-4.1.6]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # 0.11.0
        with:
          access_token: ${{ github.token }}
      - name: Clone Trilinos
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 1
      - name: Spack build
        shell: bash -l {0}
        run: |
          spack develop --no-clone --path $GITHUB_WORKSPACE trilinos@develop
          spack add trilinos@develop
          spack concretize -f
          spack install --cdash-upload-url=https://sems-cdash-son.sandia.gov/cdash/submit.php?project=Trilinos -j16
