#
# This workflow will process issues and PR's to determine if they are stale and/or need to be
# removed.
#
name: "Close stale issues"
on:
  # Regular scheduling, run daily at 6AM Mountain time (12:00pm UTC)
  # - Note: Mountain Standard Time (MST) is 7 hours behind UTC during the winter.
  # Cron strings: MIN HR DOM MON DOW
  schedule:
  - cron: "0 12 * * 0,3,6"
  #- cron: "0 12 * * *"


# See https://github.com/actions/stale/blob/master/action.yml for information on actions
# that GitHub knows for stale issues.


permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
      with:
        debug-only: false
        ascending: true
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-stale: 365
        days-before-close: 30
        stale-issue-label: 'MARKED_FOR_CLOSURE'
        close-issue-label: 'CLOSED_DUE_TO_INACTIVITY'
        stale-pr-label: 'MARKED_FOR_CLOSURE'
        close-pr-label: 'CLOSED_DUE_TO_INACTIVITY'
        exempt-issue-labels: 'DO_NOT_AUTOCLOSE'
        # We specifically DO NOT exempt PR's from autoclosing.
        #exempt-pr-labels: ''
        remove-stale-when-updated: true
        operations-per-run: 75
        stale-issue-message: >
          This issue has had no activity for **365** days and is marked for
          closure. It will be closed after an additional **30** days of inactivity.

          If you would like to keep this issue open please add a comment and/or remove
          the `MARKED_FOR_CLOSURE` label.

          If this issue should be kept open even with no activity beyond the time
          limits you can add the label `DO_NOT_AUTOCLOSE`.

          If it is ok for this issue to be closed, feel free to go ahead and close it.
          Please **do not** add any comments or change any labels or otherwise touch
          this issue unless your intention is to reset the inactivity counter for an
          additional year.

        close-issue-message: >
          This issue was closed due to inactivity for **395** days.

        stale-pr-message: >
          This Pull Request has been *marked for closure* due to inactivity.

          Because of the changing nature of the Trilinos source due to active
          development, a pull request with _no_ activity for **365** days is
          considered to be abandoned and will be automatically closed after **30**
          additional days of inactivity from when it was marked inactive.

          If this should be kept open, please post a comment and/or remove the
          label `MARKED_FOR_CLOSURE` to reset the inactivity timer.

          If it is ok for this pull request to be closed, feel free to go ahead and close it.
          Please **do not** add any comments or change any labels or otherwise touch
          this issue unless your intention is to reset the inactivity counter for an
          additional year.

        close-pr-message: >
          This Pull Request has been automatically closed due to **395** days of inactivity.

        # start-date : only consider issues/PR's created after this date.
        start-date: '2001-01-01T00:00:00Z'


